.git
.github
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
Dockerfile*
README.md
docs
node_modules
public/build
public/hot
public/storage
rgmo-irms-react
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
database/*.sqlite*
database/exports
npm-debug.log
yarn-error.log
